<!DOCTYPE html>
<html>

<head>

  <title>Bootstrap Example</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<style>
div.container {
    position: absolute;
    top: 200px;
    left: 300px;
    width: 500px;
    height: 300px;
    overflow: auto;
}

div.moreInfo {
    position: absolute;
    top: 200px;
    left: 900px;
    width: 300px;
    height: 300px;
    overflow: auto;
}

</style>
  
</head>

<body>

<div class = "container" ng-app="myApp" ng-controller="customersCtrl"> 

<table class = "table table-bordered">
  <thead>
	  <tr>
		  <th style="width: 20px">Name</th>
		  <th style="width: 40px">Occupation</th>
		  <th style="width: 30px">Company</th>
	  </tr>
  </thead>>
  <tbody>
	  <tr ng-repeat="x in names">
	    <td>{{ x.firstName }} {{ x.surname}}</td>
	    <td>{{ x.occupation }}</td>
	    <td>{{ x.company }}</td>
	  </tr>
  </tbody>
</table>

</div>

<div class = "moreInfo">

<h2>this is placeholder</h2>
<h2>this is placeholder</h2>
<h2>this is placeholder</h2>
<h2>this is placeholder</h2>
<h2>this is placeholder</h2>

</div>


<script>
var app = angular.module('myApp', []);

app.controller('customersCtrl', function($scope, $http) {
    $http.get("http://private-a73e-aquentuxsociety.apiary-mock.com/members")
    .then(function (response) {$scope.names = response.data;});
	
});


</script>

</body>
</html>
